<Project>
    <PropertyGroup>
      <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
      <WebPublishMethod>Container</WebPublishMethod>
        <ContainerImageTag>latest</ContainerImageTag>
    <ContainerRegistry>ghcr.io</ContainerRegistry>
    <ContainerRepository>NoBraincellsLeft/JustWatch-Search</ContainerRepository>
    </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="80" Type="tcp" />
    </ItemGroup>
</Project>